<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gh.com.payswitch.thetellerandroid">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".thetellerActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity android:name=".CardOrNumberActivity"></activity>
    </application>

</manifest>